@import '../../colors/color.module.scss';

.cardOferted{
    display: flex;
    gap: 10px;
    .imgBackground{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $button-default;
        border-radius: 10px;
        width: 50px;
        height: 50px;

        .imgCard{
            width: 34px;
        }
    }

    .cardContent{
        display: flex;
        flex-flow: column;
        align-items: start;
        justify-content: center;

        .cardTitle{
            font-size: 14px;
        }

        .cardText{
            font-size: 10px;
        }

    }
}

@media screen and (min-width: 391px) and (max-width:475px){

   .cardOferted{
        gap: 15px;

        .imgBackground{
            width: 60px;
            height: 60px;

            .imgCard{
                width: 40px;
            }
        }


        .cardContent{
           .cardTitle{
                font-size: 16px;
           } 

           .cardText{
            font-size: 12px;
           }
        }

        
   }


}