@import '../colors/color.module.scss';

header{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    
    .navigationItens{
        display: flex;
        flex-flow: row;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        padding: 8px;

        .brandBox{
            .logoHeader{
                width: 39px;
                margin: 0px 0px 0px 8px;
            }
        }
    
        .navBoxIcon{
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;
            gap: 34px;
            margin: 5px;

            .navIcons{
                width: 22px;
            }   
        }
    }

    .searchBar{
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
        width: 364px;
        height: 40px;
        padding: 5px 0px 5px 0px;
        border-radius: 80px;
        background-color: $gray-normal;
        margin: 10px 0px 0px 0px;
        
        .lupa{
            width: 16px;
            height: 16px;
            margin: 0px 10px 0px 5px ;
        }

        .inputSearchHome{
            width: 300px;
            height: 26px;
            border: none;
            background-color: $gray-normal;

            &:focus{
                outline: none;
            }
            &::placeholder{
               padding: 0px 0px 0px 10px;
               color: #737373;
               font-size: 18px;

            }
        }
    }
}

@media screen and (min-width: 391px) and (max-width:476px){
    
    
    header{

        padding: 10px 0px;

            .searchBar{
                width: 400px;

                .inputSearchHome{
                    width: 340px;
                }
                
            }

           .navigationItens{
                padding: 8px 15px;

                .navBoxIcon{
                    .navIcons{
                        width: 28px;
                    }
                }
            
                .brandBox{

                    .logoHeader{
                        width: 54px;
                    }
                }
            
                }

    }
    
    

}